@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .page {
    @apply flex h-full w-full flex-col items-center pt-4;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
